.App {
  text-align: center;
}
.setposition{
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.circle {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle p {
  font-size: 24px;
  position: absolute;
  z-index: 2;
  color: #333;
}

.circle-svg {
  transform: rotate(-90deg);
}

.circle-background {
  fill: none;
  stroke: lightgreen;
  stroke-width: 8;
  stroke-dasharray: 360;
  stroke-dashoffset: 0;
}

.circle-progress {
  fill: none;
  stroke: lightgray;
  stroke-width: 8;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: stroke-dashoffset 0.3s linear;
}

.started.active .circle-progress {
  animation: countdown-animation 60s linear forwards;
}

@keyframes countdown-animation {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 0;
  }
}

button {
  margin-right: 10px;
}


